

services:
  proxy:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - app

  app:
    build: .
    environment:
      - MONGO_URI=${MONGO_URI}
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
